apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: one-data-staging

resources:
  - ../../base
  - ../../applications

commonLabels:
  environment: staging

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
