apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: one-data-dev

resources:
  - ../../base
  - ../../applications

commonLabels:
  environment: dev

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
